<!Doctype HTML>
<html>
  <head>
    <title>{{ BLOG_NAME }}{% if title %}: {% endif %}{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="icon" href="/static/img/icon.png">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">{{ BLOG_NAME }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
            <li class="nav-item">
              <a class="nav-link {% if active == "home" %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == "categories" %}active{% endif %}" href="/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rss.xml">RSS</a>
            </li>
          </ul>
          <form class="d-flex" action="/search" method="GET">
            <input class="form-control me-sm-2" type="text" placeholder="Search posts" name="phrase">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <main class="container pt-3">{% block body %}{% endblock %}</main>
    <footer class="container text-center pt-3 text-muted">
      <p>Copyright &copy; {{ BLOG_NAME }} 2021 &mdash; All rights reserved. Powered by <a href="https://github.com/kzaremski/simple-node-markdown-blog" target="_blank">Simple Node Markdown Blog</a>. <a href="/sitemap.xml">XML Sitemap</a></p>
    </footer>
    <script src="/static/js/bootstrap.bundle.js"></script>
  </body>
</html>